<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Proyectos</h4>

        <table class="table">
          <thead>
          <tr>
            <th>ID</th>
            <th>Proyecto</th>
            <th>Estado</th>
            <th>Ver</th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td>1</td>
            <td>Sistema comercial</td>
            <td>Pendiente</td>
            <td>Def, Med, Eval</td>
            <td>acciones</td>
          </tr>
          </tbody>

        </table>


      </div>
    </div>
  </div>
</div>
