<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Usuarios</h4>

        <table class="table">
          <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Cargo</th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td>1</td>
            <td>Julieta</td>
            <td>Analista</td>
            <td>acciones</td>
          </tr>
          </tbody>

        </table>


      </div>
    </div>
  </div>
</div>
